@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.ibm-plex-mono-extralight-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: italic;
}
.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body ,:root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.parent {
  width: 100vw;
  height: 100vh;
}

.main_class{
  display: flex;
}

.head , .top{
  width: 100vw;
  padding: 2%;
  height: 100%;
  color: white;
  position: absolute;
  top:10px;
  padding-left: 5%;
  z-index: 2;
}
.top{
  z-index: 4;
}

.head h1 {
  font-size: 25rem;
  padding-top: 3%;
  font-family: "Space Mono", monospace;
  letter-spacing: 8%;
  color: #0400f80e;
  -webkit-text-stroke: 4px #ffffffa6;
  font-style: italic;
  text-shadow:
    0 2px 10px #ffffff14,
    0 0 60px rgba(3, 74, 255, 0.537),
    0 0 100px rgba(3, 74, 255, 0.2),
    15px 20px 25px rgba(0, 0, 0, 0.6),
    30px 40px 45px rgba(0, 0, 0, 0.4);
}

h1 span {
  font-family: "IBM Plex Mono", monospace;
  color: #ffffff16;
  text-shadow:
    0 0 50px #0051ff,
    15px 20px 25px #000000bc;
}

.top h1{  
  font-size:15rem;
  font-family: "IBM Plex Mono", monospace;
  letter-spacing: 24%;
  color: #a3b0ce00;
  background-image: url("https://wallpapercave.com/wp/wp2651803.jpg");
  background-size: cover;
  filter: brightness(20);
  background-clip: text;
  -webkit-background-clip: text;
    text-shadow:
    0px 20px 25px #000000bc;
}